.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 14rem;
    height: 100%;
    padding-left: 2.4rem;
    display: flex;
    align-items: flex-start;
    gap: 2%;
    z-index: 1;
}
.container button {
    position: relative;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: none;
    overflow: visible;
} 
.container button p {
    position: absolute;
    width: 6rem;
    height: 100%;
    top: 0;
    right: -7.5rem;
    justify-content: flex-start;
    font-family: 'Nasalization';
    font-size: 1.1rem;
    letter-spacing: .1rem;
    text-shadow: 0 0 2px #000,
                 0 0 4px var(--clr),
                 0 0 32px var(--clr);
    transform: scaleX(0);
    transform-origin: left;
    transition: .2s;
}
.container button:hover p {
    transform: none;
}
.container button:hover .icon {
    filter: none;
}
.icon {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(.5);
    transition: .2s;
    pointer-events: none;
}
.selected  {
    box-shadow: 0 0 4px var(--clr),
                0 0 32px var(--clr);
}
.selected p {
    transform: none !important;
}
.selected .icon {
    filter: none;
}
.icon:hover {
    filter: none;
}
.soleil  {
    --clr: rgb(255, 123, 0);
}
.soleil div {
    background-image: url(../../../public/assets/images/sun_icon.png);
    background-size: 120% !important;
}
.mercure  {
    --clr:  rgb(194, 194, 194);
}
.mercure div {
    background-image: url(../../../public/assets/images/mercury_icon.png);
}
.venus {
    --clr:  rgb(255, 192, 76);
}
.venus div {
    background-image: url(../../../public/assets/images/venus_icon.png);
}
.terre {
    --clr:  rgb(74, 137, 255);
}
.terre div {
    background-image: url(../../../public/assets/images/earth_icon.png);
}
.mars {
    --clr:  rgb(255, 103, 76);
}
.mars div {
    background-image: url(../../../public/assets/images/mars_icon.png);
}
.jupiter {
    --clr:  rgb(221, 156, 81);
}
.jupiter div {
    background-image: url(../../../public/assets/images/jupiter_icon.png);
}
.saturne {
    --clr:  rgb(218, 201, 181);
}
.saturne div {
    background-image: url(../../../public/assets/images/saturne_icon.png);
    background-size: 100% !important;
    transform: scale(2.6) translateX(-1px) translateY(0.5px);
}
.neptune {
    --clr:  rgb(74, 137, 255);
}
.neptune div {
    background-image: url(../../../public/assets/images/neptune_icon.png);
}
.uranus {
    --clr: rgb(148, 201, 207);
}
.uranus div {
    background-image: url(../../../public/assets/images/uranus_icon.png);
}

