.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 18rem;
    pointer-events: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid transparent;
    padding: 20px;
    background: linear-gradient(45deg, var(--clr3), var(--clr4));
    backdrop-filter: blur(5px);
    width: 29rem;
    user-select: none;
    border-image: linear-gradient(90deg, var(--clr2), var(--clr)) 10;
    color: var(--clr);
    box-shadow: 2px 0px 2px var(--clr),
                0px 0px 64px var(--clr),
          inset 0px 0px 30px var(--clr);
    transition: .25s;
    transform-origin: left;
}

.container::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    width: 11px;
    height: 100%;
    background:  linear-gradient(var(--clr), var(--clr2), transparent);
}
.container::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 4px;
    width: 100%;
    height: 11px;
    background:  linear-gradient(270deg, transparent, var(--clr2), var(--clr));
}

.hideDetails {
    position: absolute;
    left: -73px;
    display: flex;
    align-items: center;
    border: 59px solid transparent;
    border-right: 9px solid var(--clr2);
    cursor: pointer;
    pointer-events: all;
}
.tooltip {
    position: absolute;
    right: 10px;
    width: .5rem;
    word-break: break-all;
    line-height: 1rem;
    font-family: 'Nasalization';
    opacity: 0;
    transition: .1s;
}
.hideDetails:hover {
    filter: brightness(1.5);
    transition: .25s;
}
.hideDetails:hover .tooltip {
    opacity: 1;
}
.hide {
    transform: scaleX(0);
}
.imageContainer {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.imageWrapper {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
.image {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
}

.textContainer {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleContainer {
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    padding-inline: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.title {
    font-size: 1.2rem;
    width: fit-content;
    font-weight: bold;
}

.scrollContainer {
    display: flex;
    max-height: 70vh;
    overflow-y: auto;
    width: 100%;
}

.fieldContainer {
    display: table;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    font-size: .85rem;
    letter-spacing: .1rem;
    line-height: 1.2rem;
}

.fieldContainer:first-of-type {
    text-align: right;
}
.fieldContainer:last-of-type {
    font-family: monospace;
    font-size: .9rem;
}
.row {
    display: table-row;
    margin: 5px 0;
}

.label {
    display: table-cell;
    font-weight: bold;
}

.value {
    display: table-cell;
}

.container-hidden {
    animation: fade-out 1s linear forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.container-visible {
    animation: fade-in 1s linear forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.soleil {
    --clr:  rgb(255, 255, 193);
    --clr2: rgba(255, 255, 82, .75);
    --clr3: rgba(10, 10, 0, .75);
    --clr4: rgba(75, 75, 0, .75);
}
.mercure {
    --clr:  rgb(216, 216, 216);
    --clr2: rgba(145, 145, 145, 0.75);
    --clr3: rgba(10, 10, 10, .75);
    --clr4: rgba(75, 75, 75, .75);
}
.venus {
    --clr:  rgb(255, 231, 187);
    --clr2: rgba(255, 192, 76, .75);
    --clr3: rgba(10, 5, 0, .75);
    --clr4: rgba(75, 50, 0, .75);
}
.terre {
    --clr:  rgb(161, 194, 255);
    --clr2: rgba(74, 137, 255, .75);
    --clr3: rgba(5, 10, 15, .75);
    --clr4: rgba(40, 75, 150, .75);
}
.mars {
    --clr:  #ffa292;
    --clr2: rgba(255, 103, 76, .75);
    --clr3: rgba(10, 0, 0, .75);
    --clr4: rgba(75, 0, 0, .75);
}
.jupiter {
    --clr:  rgb(255, 210, 159);
    --clr2: rgba(218, 201, 181, .751);
    --clr3: rgba(10, 8, 5, .75);
    --clr4: rgba(100, 75, 50, .75);
}
.saturne {
    --clr:  rgb(255, 229, 199);
    --clr2: rgba(218, 201, 181, .751);
    --clr3: rgba(10, 8, 5, .75);
    --clr4: rgba(100, 75, 50, .75);
}
.neptune {
    --clr:  rgb(179, 205, 255);
    --clr2: rgba(74, 137, 255, .75);
    --clr3: rgba(5, 10, 15, .75);
    --clr4: rgba(40, 75, 150, .75);
}
.uranus{
    --clr: rgb(188, 248, 255);
    --clr2: rgba(181,206,209, .75);
    --clr3: rgba(5, 10, 15, .75);
    --clr4: rgba(148, 201, 207, .75);
}