.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-start;
    padding: 1rem 3rem 0 3rem;
    font-family: 'Nasalization';
    user-select: none;
    pointer-events: none;
    z-index: 2;
}
.title,
.subtitle {
    opacity: .8;
    text-shadow: 0 0 2px #000,
                 0 0 8px #000,
                 0 0 16px #000,
                 0 0 32px #000,
                 0 0 64px #000;
}
.title {
    font-size: 3rem;
    line-height: 2rem;
}
.subtitle {
    font-size: 1rem;
}
.tooltipContainer {
    position: relative;
    top: 0;
    width: 200px;
    opacity: .8;
}
.tooltip {
    width: 200px;
    height: 100%;
}
.tooltip span div {
    width: 29px;
    height: 29px;
    background-image: url(../../../public/assets/images/mouse.png);
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    filter: invert(1);
}
.tooltip p,
.tooltip span p {
    height: 29px;
    text-shadow: 0 0 2px #000,
    0 0 4px #000,
    0 0 32px #000;
}
.tooltip .leftClick {
    transform: rotateY(180deg);
}
.tooltip .mouseWheel {
    background-image: url(../../../public/assets/images/mouse-scroll-wheel-icon.png);
    /* background-size: 60%; */
}
.tooltip .arrowLeft,
.tooltip .arrowRight {
    background-image: url(../../../public/assets/images/key-arrow.png);
    background-size: 70%;
    transform: translateY(-.2rem);
    margin-right: .1rem;
}
.tooltip .arrowRight {
    transform: translateY(-.2rem) rotateY(180deg);
}

.toggleUi {
    position: absolute;
    top: 0;
    right: 0;
    width: 51px;
    height: 29px;
    padding: 0 2px;
    border-radius: 16px;
    border: 3px solid #fff;
    box-shadow: 0 0 2px #000,
                0 0 5px #000,
          inset 0 0 5px #000;
    background: rgba(50, 50, 50, .5);
    pointer-events: all;
    cursor: pointer;
    transition: .25s;
    opacity: .8;
}
.toggleUi:hover {
    background: rgba(50, 50, 50, .85);
}
.toggleUi:hover .switch {
    box-shadow: 0 0 11px #fff,
          inset 0 0 11px #fff;
}
.toggleUi .switch {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5px #000,
          inset 0 0 5px #000;
    transform: translateX(22px);
    transition: .25s;
}
.switchOn {
    transform: none !important;
}
.switchOff {
    opacity: .3;
}
.hidden {
    display: none;
}