@font-face {
    font-family: 'Optimus';
    src: url('../../../public/assets/fonts/Optimus.otf');
}
@font-face {
    font-family: 'Nasi';
    src: url('../../../public/assets/fonts/Nasi.otf');
}
@font-face {
    font-family: 'Nasalization';
    src: url(../../../public/assets/fonts/nasalization-rg.otf);
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}
#astroNav {
    color: var(--astrobar-primary);
    background: var(--astrobar-background);
}

#previous,
#next {
    position: relative;
    width: 49px;
    height: 49px;
    background-image: url(../../../public/assets/images/chevron.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1) drop-shadow(0 0 2px var(--astrobar-primary)) drop-shadow(0 0 8px var(--astrobar-primary));
    transition: .25s;
}
.chevronDot {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../../public/assets/images/chevron-dot.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 2px var(--astrobar-primary)) drop-shadow(0 0 8px var(--astrobar-primary));
    transition: .25s;
    transition-delay: .15s;
    opacity: 0;
}
#previous:hover,
#next:hover {
    background-size: 75%;
}
#previous:hover .chevronDot,
#next:hover .chevronDot {
    opacity: 1;
}
#previous:active,
#next:active {
    background-size: 90%;
}
#previous {
    transform: rotate(180deg);
}

#current {
    width: 300px;
    height: 100%;
    font-size: 1.4rem;
    font-family: 'Nasalization';
    font-weight: 100;
    letter-spacing: .2rem;
    user-select: none;
    text-shadow: 0 0 4px var(--astrobar-primary), 0 0 16px var(--astrobar-primary);
    text-align: center;
}