@font-face {
    font-family: 'Optimus';
    src: url('../../../public/assets/fonts/Optimus.otf');
}
@font-face {
    font-family: 'Nasi';
    src: url('../../../public/assets/fonts/Nasi.otf');
}
@font-face {
    font-family: 'Nasalization';
    src: url(../../../public/assets/fonts/nasalization-rg.otf);
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.adjustSpeed {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 1rem;
    margin-bottom: .5rem;
    font-family: 'Nasalization';
    letter-spacing: .05rem;
}
.adjustSpeed p {
    opacity: .8;
}
.adjustSpeed button {
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    box-shadow: 0 0 6px #fff,
          inset 0 0 2px #fff;
    border-radius: .25rem;
    opacity: .8;
    transition: .25s;
}
.adjustSpeed button:not(#play):not(.currentSpeedBtn):hover {
    background: #ffffff70;
    color: #000;
    text-shadow: 0 0 4px #fff,
                 0 0 8px #fff,
                 0 0 16px #fff;
}
.currentSpeedBtn {
    background: #ffffff70;
    color: rgb(240, 252, 255);
    text-shadow: 0 0 4px rgb(169, 215, 226),
                 0 0 8px rgb(169, 215, 226),
                 0 0 16px rgb(169, 215, 226),
                 0 0 32px rgb(169, 215, 226);
}
.adjustSpeed #play {
    height: 3rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
}
.btnPause {
    background-image: url(../../../public/assets/images/pause-btn.png);
}
.btnPlay {
    background-image: url(../../../public/assets/images/play-btn.png);
}
.adjustSpeed #play:hover {
    filter: drop-shadow(0 0 2px red) drop-shadow(0 0 4px red) invert(1);
}
#astroNav {
    color: var(--astrobar-primary);
    background: var(--astrobar-background);
}

#previous,
#next {
    position: relative;
    width: 49px;
    height: 49px;
    background-image: url(../../../public/assets/images/chevron.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1) drop-shadow(0 0 2px var(--astrobar-primary)) drop-shadow(0 0 8px var(--astrobar-primary));
    transition: .25s;
}
.chevronDot {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../../public/assets/images/chevron-dot.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 2px var(--astrobar-primary)) drop-shadow(0 0 8px var(--astrobar-primary));
    transition: .25s;
    transition-delay: .15s;
    opacity: 0;
}
#previous:hover,
#next:hover {
    background-size: 75%;
}
#previous:hover .chevronDot,
#next:hover .chevronDot {
    opacity: 1;
}
#previous:active,
#next:active {
    background-size: 90%;
}
#previous {
    transform: rotate(180deg);
}

#current {
    width: 300px;
    height: 100%;
    font-size: 1.4rem;
    font-family: 'Nasalization';
    font-weight: 100;
    letter-spacing: .2rem;
    user-select: none;
    text-shadow: 0 0 4px var(--astrobar-primary), 0 0 16px var(--astrobar-primary);
    text-align: center;
}

@media screen and (max-width: 1345px) {
	.adjustSpeed {
		transform: scale(.7);
        margin-right: .5rem;
        margin-bottom: .5rem;
	}
    .container {
        height: 40px;
        transform: translateY(-6px);
    }
    #current {
        width: 200px;
        font-size: 1rem;
    }
}
